.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    text-align: center;
}

.teamBlock {
    position: relative;
    margin-top: 30px;
    visibility: visible;
    animation-name: fadeInUp;
}

.innerBox {
    position: relative;
    overflow: hidden;
}

.teamBox {
    position: relative;
    margin-top: 30px;
}

.imageBox {
    position: relative;
}

.teamBox .innerBox:hover .socialLinks a {
    transition: transform 0.3s ease 0.6s, opacity 0.3s ease 0.6s, color 0.3s linear;
}

.teamBox .innerBox:hover .infoBox .name {
    padding-bottom: 0;
}

.teamBox .innerBox:hover .infoBox {
    margin-top: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 500ms ease;
}

.teamBox .innerBox:hover .imageBox::before {
    top: 0;
    margin-top: 0;
}

.teamBox .imageBox::before {
    position: absolute;
    left: 0;
    top: 100%;
    height: 100%;
    width: 100%;
    content: "";
    background-color: #383f50;
    opacity: .90;
    margin-top: -60px;
    transition: all 300ms ease;
}

.infoBox {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 100%;
    margin-top: -53px;
    z-index: 1;
    transition: all 300ms ease;
}

.infoBox .name {
    position: relative;
    padding: 15px 0;
    font-size: 22px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 400;
    transition: all 300ms ease;
}

.infoBox .designation {
    display: block;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 15px;
}

.socialLinks a {
    display: inline-block;
    background-color: #ffffff;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    margin: 0 4px;
    padding-bottom: 6px;
    position: relative;
    opacity: 0;
    font-size: 18px;
    color: #262626;
    transform: translateX(-50px);
}

.imageBox img {
    width: -webkit-fill-available !important;
}

.aboutImage img {
    max-width: 95%;
}

.container #counter-area {
    position: relative;
    padding: 30px 0;
}

@media (min-width: 992px) {
    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px) {
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}